// about section

.about {
  padding: 2rem;
  pointer-events: none;
  user-select: none;
  padding-top: 0;

  p {
    font-weight: bold;
    line-height: 1.5rem;
  }
}

.about-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .about-img {
    width: 80%;
    margin: 2rem auto;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .about-text {
    & > * {
      padding: 1rem 0;
    }
  }
}

// skills and interests
.skills,
.hobbies {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  li {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

.hobbies {
  li {
    color: var(--hobbies-color);
  }
}

.skills li i {
  font-size: 2rem;

  &.html {
    color: var(--html);
  }
  &.css {
    color: var(--css);
  }
  &.js {
    color: var(--js);
  }
  &.sass {
    color: var(--scss);
  }
  &.react {
    color: var(--react);
  }
  &.git {
    color: var(--git);
  }
  &.github {
    color: var(--github);
  }
}
